.select {
  position: relative;
}

.search-panel {
  display: flex;
  padding: 0.1875rem;
  position: relative;
  border-radius: 6px;
  border: 1px solid transparent;
}

.search-panel:focus-within {
  border: 1px solid var(--accent-colour);
  filter: drop-shadow(0px 0px 1px var(--accent-colour));
}

.search-panel__search-input {
  width: 100%;
  border: 1px solid var(--primary-colour);
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;

  color: #343434;
  overflow: hidden;
}

.select__icon {
  margin: auto;
  display: block;
  transition: all 200ms linear;
  width: 0.5625rem;
  height: 0.5625rem;
}

.select__icon--open {
  transform: rotate(180deg);
}

.select__icon--close {
  transform: rotate(0deg);
}

.search-panel__button {
  border: 1px solid var(--primary-colour);
  border-left: 0;
  border-radius: 0 6px 6px 0;
  width: 1.6rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.search-panel__button:hover {
  background-color: var(--accent-colour--62);
}

.select__option-list-wrapper {
  width: 100%;
  position: absolute;
  z-index: 10;
}
.select__option-list {
  height: 6.5rem;
  border: 1px solid var(--primary-colour);
  margin: 6px 4px 4px;
  border-radius: 0.25rem;
  background-color: #ffffff;
  transition: clip-path 72s ease-in;
  clip-path: inset(0px 0px 0px 0px);
}

.option-list--close {
  /*display: none;*/
  clip-path: inset(0px 100% 100% 100%);

}

.select__select-panel {
  margin-bottom: 0.5rem;
  padding: 0.1875rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
  gap: 0.75rem;
  /*position: relative;*/
}
.select__select-panel__window {
  position: relative;
}

.before::before{
  width: 0.5rem;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
  pointer-events: none;
  background: linear-gradient(90deg, #FFFFFF 0%, transparent 100%);
}

.after::after{
  width: 0.5rem;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  right: -1px;
  pointer-events: none;
  background: linear-gradient(90deg, transparent 0%, #FFFFFF 100%);
}
.select__select-panel__icon {
  width:0.75rem;
  height: 0.75rem;
}

