.selected-option {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

.selected-option__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding: 0.35rem 0.5rem;
  background-color: var(--accent-colour);
  border-radius: 0.25rem;
}

.selected-option__icon {
  width:0.75rem;
  height: 0.75rem;
}
