* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  --fixed-column: #f3f3f3;
  --header-text: #343434;
  --table-border: #c3c3c3;
  --accent-colour: #C0EDB9;
  --primary-colour: #707070;
  --primary-colour--68: rgba(112, 112, 112, 0.68);
  --accent-colour--62: rgba(192, 237, 185, 0.62);
  --primary-colour--24: rgba(112, 112, 112, 0.24);
  --white: #ffffff;
}

@font-face {
  font-family: "Questrial";
  font-weight: normal;
  src: url("assets/font/Questrial/Questrial-Regular.ttf");
}

html, body, .App, #root {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: Questrial, monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app_container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin:  auto;
}

.app_table {
  width: 500px;
  height: 200px;
}

.app_list {
  width: 500px;
  height: 200px;
}

.app_virtualized-list {
  height: 100px;
}

.app_select {
  width: 200px;
}

.app__option-card {
  /*width: 200px;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
